.kerala{
    background-image: url(background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dress{
    background-color: rgba(rgba(3, 3, 3, 0.63),);
    padding: 100px 0px;

}
