.kerala{
    background-image: url(background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dress{
    background-color: rgba(rgb(24, 22, 23),);
    padding: 100px 0px;

}