.kerala{
    background-image: url(background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dress{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 100px 0px;
    text-align: center;
    color: white;
}
